@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Oswald:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

:root{

	--size-container: 1000px;
	--color-1: #056dfd;
}

html{
	position: relative;
	min-height: 100vh;
}

img{
	width: 100%;
	height: 100%;
	display: block;
}
.container {
	margin: 40px auto;
	max-width: var(--size-container);
}

/* HEADER */

header{
	margin-top: 100px;
	width: 100%;
}

.container-header{
	max-width: var(--size-container);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-header h1{
	font-weight: 400;
	font-size: 28px;
	margin-bottom: 30px;
}
.container-header nav{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

nav ul, nav form{
	display: flex;
}

nav ul li{
	margin-right:10px;
	font-size: 19px;
	font-weight: 500;

}

nav ul li a{
	padding: 10px;
	color: black;
}

nav form{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav form span{
	font-size: 20px;
	margin-bottom: 15px;
}

nav form select{
	padding: 5px 15px;
	font-size: 17px;
	width: 110px;
	margin-right: 10px;
}

nav form input{
	padding: 8px 15px;
	font-size: 17px;
	color: white;
	background-color: var(--color-1);
	border: none;
	cursor: pointer;
	border-radius: 20px;
}



.search-product{
	text-align: center;
	margin: 30px 0px;
}

.search-product input{
	padding: 12px 15px;
	font-size: 18px;
	border-radius: 30px;
	width: 350px;
	border: 1px solid black;

}

.search-product button{
	position: relative;
	right: 55px;
	font-size: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;
}
/* PRODUCT */

.container-products{
	border: 2px solid whitesmoke;
	width: 100%;
	padding: 10px;
}



.container-products .id-product{
	font-weight: 500px;
	font-size: 20px;
}

.container-products .category-product{
	font-size: 19px;
}
.container-products .image-product{
	width: 90px;
	height: 100px;
	margin-right: 15px;
}


.container-products .title-product{
	font-size: 19px;
	color: black;
}

.container-products .config-product a{
	padding: 10px 12px;
	margin: 0px 5px;
	font-size: 19px;
	color: black;
}

.container-products .edit-product, .container-products .delete-product{
	font-size: 20px;
}

.container-products .edit-product a{
	color: var(--color-1);
}

.container-products .delete-product a{
	color: red;
}

/* TABLE */

table{
	text-align: center;
	border-collapse: collapse;
	border-radius: 10px;
}

table thead{
	background-color: #f3f3f3;
}


table thead th{
	padding: 20px 15px;
	font-weight: 500;
	font-size: 19px;
}
table tbody tr{
	
	border-bottom: 1px solid #dddddd;
}

table tbody tr:hover{
	 background-color: #f3f3f3;
	 transition: 0.2s;
}


/* LOGIN */

.login{
	max-width: 450px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.login h1{
	font-weight: 500;
	font-size: 28px;
	margin: 15px 0px;
}
.login input{
	width: 100%;
	margin: 10px 0px;
	padding: 10px 15px;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid #f3f3f3 ;
}

.login input[type="submit"]{
	padding: 12px;
	margin-top: 15px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	color: white;
	background-color: var(--color-1);
}

.login .msg{
	background-color: red;
	padding: 15px;
	margin: 10px 0px;
	width: 100%;
	color: white;
	font-size: 19px;
	text-align: center;
}
/* FOOTER */
footer{
	position: absolute;
	bottom: 0;
}